md-dialog.md-default-theme.flex-50(aria-label="Planet dialog")
    md-dialog-content.md-dialog-content.flex

    md-dialog-actions
        md-button.md-primary(ng-click="dialog.close()") Cancel
        md-button.md-primary.md-raised(ng-click="dialog.save(dialog.planet)") Save