h1.text-center Star Wars D&D Tools
.col-sm-4.col-sm-offset-4
    .col-md-4
        a.thumbnail.text-center.no-highlight(ui-sref='PHB')
            i.fa.fa-rebel.fa-4x
            p Player's Supplement
    .col-md-4
        a.thumbnail.text-center.no-highlight(ui-sref='Vehicles')
            i.fa.fa-space-shuttle.fa-4x
            p Vehicles & Starships
    .col-md-4
        a.thumbnail.text-center.no-highlight(ui-sref='Map')
            i.fa.fa-map.fa-4x
            p Map
    .col-md-4
        a.thumbnail.text-center.no-highlight(ui-sref='WA')
            i.fa.fa-shield.fa-4x
            p Weapons & Armor
