section.flex-offset-30.flex-40
    md-input-container.md-block
        label Admin Password
        input(ng-model="login.pass" type="password")
    md-button.md-raised.md-primary(ng-click="login.login(login.pass)") Login
