#main.flex-gt-sm-60.flex-100.flex-order-gt-sm-0.flex-order-1
    svg(width="960px" height="960px")
md-content.md-padding.flex-gt-sm-40.flex-100.layout-wrap.layout-xs-column.layout-row.scroll.flex-order-gt-sm-1.flex-order-0
    div.flex-xs.flex-gt-xs-50.layout-column
        md-card
            md-card-title
                md-card-title-text Settings
            md-card-content.overflow-auto
                md-select.md-no-underline(ng-model='map.groupBy' ng-change='map.getNewData()'
                aria-label="Grouping")
                    md-option(value='climate') Color nodes by Climate
                    md-option(value='alignment') Color nodes by Alignment
                    md-option(value='region') Color nodes by Region
                md-select.md-no-underline(ng-model='map.safe' aria-label="Method")
                    md-option(value="false") Fastest Directions
                    md-option(value="true") Safest Directions
                md-select.md-no-underline(ng-model='map.alignment' aria-label="Alignment")
                    md-option(value="Mandalorian") Alignment: Mandalorian
                    md-option(value="Republic") Alignment: Republic
                    md-option(value="Sith") Alignment: Sith
        md-card
            md-card-title
                md-card-title-text Legend
            md-card-content#legend.overflow-auto
    div.flex-xs.flex-gt-xs-50.layout-column
        md-card
            md-card-title
                md-card-title-text Directions
            md-card-content.overflow-auto
                md-autocomplete(md-selected-item="map.p1" md-search-text="map.p1search" md-items="p in map.getNodes(map.p1search)"
                    md-item-text="p.name" md-min-length="0" placeholder="Abregado-Rae" md-floating-label="From Planet")
                        md-item-template
                            span(md-highlight-text="map.p1search" md-highlight-flags="^i") {{p.name}}
                        md-not-found No planets matching "{{map.p1search}}" were found.
                md-autocomplete(md-selected-item="map.p2" md-search-text="map.p2search" md-items="p in map.getNodes(map.p2search)"
                    md-item-text="p.name" md-min-length="0" placeholder="Alderaan" md-floating-label="To Planet")
                        md-item-template
                            span(md-highlight-text="map.p2search" md-highlight-flags="^i") {{p.name}}
                        md-not-found No planets matching "{{map.p2search}}" were found.
                md-button.md-raised.md-primary(ng-click='map.getDirections(map.p1.name, map.p2.name)') Get Directions
                div(ng-if='map.path.path')
                    h3 Directions:
                    p Total Distance: {{ map.path.distance }} units
                    p Time to Travel: {{ map.path.distance / 40 }}hrs
                    ol
                        li {{ map.path.path[0].source }}
                        li(ng-repeat='p in map.path.path') {{ p.target }}
