div.flex-offset-25.flex-50
    h1.text-center.flex-100
        a(href="/images/PHB.pdf" target="_blank") Player's Handbook
    iframe.md-whiteframe-5dp(src="/images/PHB.pdf" style="width:100%; height:800px;" frameborder="0")
    //http://docs.google.com/gview?url=