md-content.layout-padding.layout-fill.flex-grow(ng-cloak)
    md-nav-bar(md-selected-nav-item="settings.currentNavItem"
        nav-bar-aria-label="navigation links")
        md-nav-item(md-nav-click="settings.goTo('Settings.Planets')" name="planets") Planets
        md-nav-item(md-nav-click="settings.goTo('Settings.Combat')" name="combat") Combat
    md-content.layout-gt-sm-row.layout-sm-column.layout-wrap.ui-view
